.EditAndSubmitButton {
display:flex;
justify-content: space-around;
}

.modal-box{
  height: 60vh;
}
.textInput {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}
.input-section-Description{
  display: flex;
  flex-direction: column;
}

// .PalaceDescription{
//   display: flex;
//   align-items: center;
// }