.EditImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.cover:hover .EditImage{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
}
// .hide {
//   display: none;
// }

.carousel-body{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0; // Hidden by default
  transition: opacity 0.3s, transform 0.3s; // Transition effect for smoothness
}

.cover:hover .carousel-body{
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1; // Show on hover
}

// .EditText:hover {
//   display: none;
// }



// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer components {
//   .btn-primary {
//     @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
//   }
// }

// <button class="btn-primary">
// Next
// </button>